/*background #F5F5F5*/
/*main color #212121*/
/*text color #757575*/
/*accent color #2196F3*/
/*hero background color #2F303A;*/
:root {
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --contacts-text-color: #FFFFFF;
    --secondary-contacts-color: rgba(255, 255, 255, 0.6);
    --primary-background-color : #F5F5F5;
    --accent-color: #2196F3;
    --secondary-background-color:#2F303A;
    --secondary-accent-color: #000000;
}
/*Reset Start*/
h1,h2, h3, h4, h5, h6, p{
    margin: 0;
}
.link a {
    text-decoration: none;
    color: currentColor;
}
.list, ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
img{
    display: block;
}
.button{
    display: inline-block;
}
.section {
    padding-bottom: 94px;
    
}

  /*reset end*/

  /*container*/
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
    
  }
  .page-header {
    border-bottom: 1px solid #ECECEC;
  }
body{
   
    color: var(--secondary-text-color);
    font-family: 'Roboto', sans-serif ;
    letter-spacing: 0.03em;
}
.container.main-nav,
.footer > .container {
  padding-top: 0;
  padding-bottom: 0;
}

/*logo*/
.logo{
    color: var(--secondary-accent-color);
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
 
}

/*site-nav*/
.site-nav-list{
    list-style: none;
}
.site-nav,
.contacts-list{
  display: flex;
  align-items: center;
  list-style: none;
}

  .contacts-list{
    margin-left: auto;
  }
  .site-nav-list .item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts-list .item:not(:last-child) {
    margin-right: 30px;
  }
  .site-nav-list{
    display: flex;
    margin-left: 93px;
  }
  .site-nav.link{
     padding-top: 32px;
    padding-bottom: 32px;
   
  }
.site-nav-list .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.site-nav-list .link:hover,
.site-nav-list .link:focus
{
    color: var(--accent-color);
   
}


/*contacts */
.contacts-list .link{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .contacts-list{
    list-style: none;
    padding:0;
 }
.contacts-list .link:hover,
.contacts-list .link:focus 
{
    color: var(--accent-color) ;
    
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/*hero*/
.hero{
    background-color: var(--secondary-background-color);
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-title {
    color: var(--contacts-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px; 
  
}
.order-button{
    background-color: var(--accent-color);
    color: var(--contacts-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    cursor: pointer;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px; 
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
  
}
.order-button:hover, 
.order-button:focus {
    color:var(--contacts-text-color) ;
    background-color: #188CE8;
}
.order-button:active{
    color: #188CE8;
    
}

/*Company Credo Section*/
.title-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.section-credo{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title{
    
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: calc(16/14);
  margin-bottom: 10px;
 
}
.section-description{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: calc(24/14);
    
}
 .credo-item:not(:last-child) {
    margin-right: 30px;
  }
 .credo-item{
  min-width: 270px;
 }
  
/*Work Section*/
.work-list{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    padding:0;
    margin: 0;
    
}

.section-work{
    color: var(--primary-text-color); 
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}
.img-list:not(:last-child) {
    margin-right: 30px;
  }
  .img-list{
    padding-bottom: 0;
  }
  
 
/*Team Section*/

.section-galery{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}
.team-list{
    list-style: none;
    background-color: var(--contacts-text-color);
    display: flex;
    text-align: center;
    padding-left: 0;
    margin: 0;
}
.team-card:not(:last-child) {
    margin-right: 30px;
  }
.team-card{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
  
}
.team-subtitle{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    margin-bottom: 10px;
 
}
.team{
  padding-top: 30px;
  padding-bottom: 30px;
}


.position{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    margin-top:10px ;
}
.img{
    padding-bottom: 30px;
}

/*Footer Contacts*/

.footer{
  
    background-color: var(--secondary-background-color);
   padding-top: 60px;
   padding-bottom: 60px;
}
.logo-footer{
    color: var(--contacts-text-color);
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration: none;
    padding-bottom: 20px;
}
.google-link .link{
    color: var(--contacts-text-color);
    font-size: 14px;
    line-height: calc(24/14);
    text-decoration: none;
}
.footer-list {
 list-style: none;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-contact .link{
    color: var(--secondary-contacts-color);
    text-decoration: none;
}
.footer-list :not(:last-child) {
    display: block;
    margin-top: 0;
    margin-bottom: 9px;
    
  }


/*Portfolio Section Filters*/

.filter-list{
    list-style: none; 
    display: flex;
    margin-bottom: 50px;
    margin-top: 0;
    padding-left: 0;
    justify-content: center;
    
}
.filter-button{
 text-align: center;
 border-radius: 4px;
 border: none;
}

.filter-list :not(:last-child) {
    margin-right: 8px;
  }

.filter-list .button:hover,
.filter-list .button:focus{
    background-color: var(--accent-color);
    color: var(--contacts-text-color) ;
}
.filter-list .button{
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: calc(26/16);
     cursor: pointer;
     background-color: #F5F4FA;
     color: var(--primary-text-color);
     border-radius: 4px;
     border: 1px solid transparent;
     text-align: center;
     display: inline-block;
     min-width: 73px;
     padding: 7px 23px;
 }
 .filter-list .button:active{
    background-color: var(--accent-color);
    color: var(--contacts-text-color) ;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) ;

 }
 .visually-hidden {
    position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
   }
/*Portfolio Gallery*/
.section.portfolio{
  padding-top: 94px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
    gap: 30px;
  
  }
 
  .project .item:nth-last-child(-n + 3) {
    margin-bottom: 30px;
  }
  .project .item:nth-child(3n) {
    margin-right: 30px;

  }

.gallery-description{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    margin-top: 4px;
    
}

.portfolio-gallery{
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
   
}
.project-title {
    max-width: 370px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
   
}
.project{
    max-width: 370px;
  
}

